#container {
    width: 40%;
    background-color: rgb(165, 165, 165);
    height: 600px;
    text-align: center;
    border: 20px solid black;
    border-radius: 20px;
    margin: auto;
  }

  th,
  td {
    border: 1px solid black;
    padding: 5px 15px;
  }
  table {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
  }
  input,label{
    width: 80%;
  }
#displayDiv{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#displayDiv>div{
  border: 1px solid black;
  padding: 0 0;
}
h4,p{
  margin:0px;
}
h1{
  margin: 0px;
}

img{
  width:40%;
  margin:0px
}

