#container {
    width: 40%;
    background-color: rgb(165, 165, 165);
    height: 600px;
    text-align: center;
    border: 20px solid black;
    border-radius: 20px;
    margin: auto;
  }

  th,
  td {
    border: 1px solid black;
    padding: 5px 15px;
  }
  table {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
  }